.inputWrapper {
    display: flex;
    width: 70%;
    height: 100px;
    align-items: center;
    margin-left: auto;
}

.input {
    width: 80%;
    height: 20%;
    padding: 0;
    margin: 0;
    font-size: 30px;
    margin-right: 40px;
}

.form {
    display: flex;
    width: 100%;
}

.button {
    width: 19%;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

@media (max-width: 600px) {
    .inputWrapper {
        height: 12%;
        width: 100%;
    }
}
