.chatMembers {
    width: 30%;
    display: inline-block;
    float: left;
    height: 80%;
    background: antiquewhite;
}

.chatMemberContainer {
    display: flex;
    height: 30px;
}

.chatMemberContainer img {
    width: 30px;
    height: 30px;
}

.chatMemberContainer p {
    display: inline-block;
    margin-top: 8px;
    margin-left: 5px;
    height: 30px;
}

.onlineIndicator {
    border-radius: 50%;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: green;
    margin-right: 3px;
}
